 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  background: black;
  color: wheat;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
}

.image{
  width: 50%;
  border-radius: 50%
}
a{
  text-decoration:none 
}
.btn{
  display: block;
  color: white;
  padding: 12px;
  background: gray;
  margin: 16px;
  box-shadow: 10px 10px wheat;
}